<!DOCTYPE html>
<html>
    <link rel = "stylesheet" href = "stylesheet.css">
    <div class = "topnav">
        <a href = index.html class = 'navigation'>Home</a>
        <a href = about.html class = 'navigation'>About</a>
    </div>
    <title>About Us</title>
    <h1>About this website</h1>
    <body>
        <div class = 'text'>
            <p>This is a website dedicated to the 5.19.2023 OSU Hackathon. This project intends to take website links or searches from YouTube and create an audio visualizer for the music. This created in conjunction by Richard Le and William Chen.
            </p>
        </div>
    </body>
</html>