<!DOCTYPE html>
<html>
<link rel = "stylesheet" href = "stylesheet.css">
<title>YouTube Music Audio Visualizer</title>
<h1>YouTube Music Audio Visualizer</h1>
<body>
    <div>
        <p>Select Search Type:</p>
        <input type = 'radio' name = 'Entry' value = 'YT_Link'> YouTube Link
        <input type = 'radio' name = 'Entry' value = 'Search'> Search Query
        <br><br>
        <input type = 'text' id = 'query input' name = 'This'><br><br>
        <input type = 'submit' id = 'submit' name = 'This'>
    </div>
</body>
</html>
