h1 {
    text-align: center;
}

p{
    text-align: center;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
}

input[type=radio] {
    display: block;
    margin: 0 auto;
    width: 100%;
}

label {
    display: inline-block;
    margin: 20px;
    margin-top: 15px;
}

.topnav {
    text-align: left;
    width: 100%;
    padding: 10px;
    background-color: black;
}

.navigation{
    padding: 5px;
    color: white;
    text-decoration: none;
}

.Selection{
    margin-bottom: 5px;
}

.text{
    padding-left: 50px;
    padding-right: 50px;
}